.app.dark {
  background-color: black;
  color: rgba(128, 128, 128, 0.884);

  .chartGrid {
    stroke: rgba(228, 228, 228, 0.219);
  }

  .table {
    background-color: #111;

    .tableCell {
      color: #555;
    }
  }

  .navbar {
    color: #999;
    border-color: #333;

    .search {
      border-color: #555;
    }
  }

  .sidebar {
    background-color: #111;
    border-color: #333;
    color: #fff;

    .top {
      .logo {
        color: #555;
      }
    }

    hr {
      border-color: #333;
    }

    ul {
      li {
        &:hover {
          background-color: #333;
        }

        .icon {
          color: #999;
        }
      }
    }
  }

  .datatable{
      .datagrid{
          color: gray;
          border: none;

          .viewButton,.deleteButton,.cellWithStatus{
              color: gray;
              border: none;
          }
      }
  }

  input{
      background-color: transparent;
  }
}
